.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  max-width: 200px;
}
.menu{
  display: flex;
  gap: 20px;
}
.menu-link{
  padding: 10px 15px;
}
.menu-link::after {
  content: "";
  height: 2px;
  width: 0;
  display: block;
  background-color: var(--cor-obrigatoria-3);
  margin-top: 5px;
}
.menu-link:hover::after{
  width: 100%;
  transition: .3s;
}