.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  max-width: 200px;
}
.menu ul{
  display: flex;
  gap: 20px;
}
.dropdown-menu li{
  display: none;
}
.menu a::after {
  content: "";
  height: 2px;
  width: 0;
  display: block;
  background-color: #C27FB1;
  margin-top: 5px;
}
.menu a:hover::after{
  width: 100%;
  transition: .3s;
}